* {
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: Comic Sans MS, Comic Sans, cursive;
    background-color: #f4f4f4;
    color: #333;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

.letter {
    display: inline-flex;
    font-size: 40px;
    font-weight: bolder;
    color: lightgray;
}

.letter2 {
    display: inline-flex;
    font-size: 15px;
    font-weight: bolder;
    color: rgb(127, 182, 255);
}

.container-letter {
    cursor: default;
    text-align: center;
}

.space-letter {
    margin-inline: 4px;
}

.welcome {
    display: inline-flex;
    font-size: 90px;
    font-weight: bold;
    color: lightseagreen;
}

html {
  scrollbar-width: none;
}

.text-a-propos {
  display: grid;
  text-align: center;
  align-items: center;
  color: lightgray;
  font-size: 20px;
  margin-top: 20px;
  scale: 90%;
  height: 125px;
  border: rgb(94, 94, 94, 0.1) solid 1px;
  transition: all 1s ease-in-out;
}

.text-a-propos:hover {
  background-color: rgb(64, 47, 47);
  display: grid;
  border-radius: 15px;
  transform: scale(105%) translateY(10px);
  border: rgb(94, 94, 94) solid 3px ;
}

.letter3 {
  display: inline-flex;
  font-size: 40px;
  font-weight: bolder;
  color: #333;
}