.section1 {
  display: block;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  text-align: center;
  width: 100%;
  border-radius: 25px;
  cursor: default;
  transition: color 0.2s ease-in-out;
  position:absolute;
  margin-top: 450px;
}

.section1:hover {
  color: cornflowerblue;
}

.section2 {
height: 300vh;
padding-top: 175vh;
}

.section3 {
  height: 300vh;
  margin-top: 475vh;
}

.parcours {
  margin-top: 75vh;
}

.black {
  background-color: #111;
}