/* Conteneur de texte */
.text-container {
    background-image: linear-gradient(
        to bottom,
        rgb(97, 1, 54) 50%,
        rgb(40, 1, 58) 50%
    );
}

.text-container::after {
    content: "";
    display: block;
    min-height: 60vh;
}

.welcome-text {
    min-height: 60vh;
    position: sticky;
    top: 0px;
    mix-blend-mode: exclusion;
}



.container-propos {
    background-image: linear-gradient(
        to bottom,
        rgb(40, 1, 58) 50%,
        rgb(0, 47, 91) 50%
    );
}

.container-letter::after {
    content: "";
    display: block;
    min-height: 100vh;
}

.letter-text {
    min-height: 100vh;
    position: sticky;
    top: 0px;
    mix-blend-mode: exclusion;
    color: violet;
}